:root {
    --c-primary: #675cff;
    --c-secondary: #f6f5ff;
}

* {
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

.grid-main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-small {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-small .grid-item {
    background-color: var(--c-secondary);
}

/* display big item when field is locked */

.field-item .grid-item-big {
    display: none;
}

.field-locked.field-item .grid-item-big {
    display: block;
}

.field-locked.field-item .grid-small {
    display: none;
}