:root {
    --c-primary: #675cff;
}

* {
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

.grid-main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid-item {
    border: 2px solid var(--c-primary);
}

.grid-small {
    background-color: blueviolet;
}

/* display big item when field is locked */

.field-item .grid-item-big {
    display: none;
}

.field-locked.field-item .grid-item-big {
    display: block;
}

.field-locked.field-item .grid-small {
    display: none;
}