.flex {
    display: flex !important;
}

.flex-center {
    display: flex !important;
    align-items: center;
}

.flex-col {
    display: flex !important;
    flex-direction: column;
}

.flex-col-center {
    display: flex;!important;
    flex-direction: column;
    align-items: center;
}

.flex-justify-center {
    display: flex !important;
    justify-content: center;
}

.flex-col-justify-center  {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.p-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.p-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}


.p-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}


.m-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.m-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-h-20 {
    margin-left: 20px;
    margin-right: 20px;
}


.m-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-v-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-v-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.w-20 {
    width: 20px;
}

.w-40 {
    width: 40px;
}

.w-60 {
    width: 60px;
}

.w-80 {
    width: 80px;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.h-20p {
    height: 20px;
}

.h-40 {
    height: 40px;
}

.h-60 {
    height: 60px;
}

.h-80 {
    height: 80px;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.w-10p {
    width: 10%;
}
.w-20p {
    width: 20%;
}
.w-30p {
    width: 30%;
}
.w-40p {
    width: 40%;
}
.w-50p {
    width: 50%;
}
.w-60p {
    width: 60%;
}
.w-70p {
    width: 70%;
}
.w-80p {
    width: 80%;
}
.w-90p {
    width: 90%;
}
.w-100p {
    width: 100%;
}

.h-10p {
    height: 10%;
}
.h-20p {
    height: 20%;
}
.h-30p {
    height: 30%;
}
.h-40p {
    height: 40%;
}
.h-50p {
    height: 50%;
}
.h-60p {
    height: 60%;
}
.h-70p {
    height: 70%;
}
.h-80p {
    height: 80%;
}
.h-90p {
    height: 90%;
}
.h-100p {
    height: 100%;
}

.sz-20 {
    font-size: 20px;
}

.sz-30 {
    font-size: 30px;
}

.sz-40 {
    font-size: 40px;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.br-10 {
    border-radius: 10px;
}

.br-20 {
    border-radius: 20px;
}

.hov {
    background-color: #f3f3f3;
    cursor: pointer;
    user-select: none;
}